#logo {
    width: 100%;
    position: absolute;
    top: -30px;
    left: -30px;

  
}

.tab-button {
    font-size: 0.9rem;
    padding: 15px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 5px 10px; 

}
.tab-button:hover {
    border: 2px solid var(--secondary-color);
    transition: 0.2s ease-in;
}