#logo {
    width: 100%;
    position: absolute;
    top: -30px;
    left: -30px;

  
}

.tab-button {
    font-size: 0.9rem;
    padding: 15px;
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 5px 10px; 
    transition: 0.2s ease-in-out;
}

.tab-button.active {
    background-color: var(--primary-color);
}

.tab-button:not(.active):hover  {
    background-color: var(--secondary-highlights);
    border: 2px solid var(--secondary-color);
}

#categories {
    display: flex;
}

.category-buttons {
    font-size: 0.8rem;
    padding:  10px 20px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    color: var(--text-color);
    margin: 10px; 
    transition: 0.2s ease-in-out;
}