:root {
    --background-color: #1b1a1a; /* for background */
    --primary-color: #313131;    /* for structure blocks */
    --secondary-color: #E11D48;  /* for actions */
    --text-color: #F8FAFC;       /* for texts */
    --highlights: #FB7185;       /* for interaction states */
    
    --letter-spacing: 1px;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0;
    margin: 0;
    justify-content: center;
    font-size: 2rem;
    min-height: 100vh;

}
#tab-section,
#content-section,
#cart-section {
    min-height: 100vh;
}

#tab-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 15%;
    position: relative;
}

#tab-section label {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    color: var(--highlights);
    margin: 10px 20px;
    text-align: left;
  
}

#tab-section-bottom {
    display: flex;
}

#tab-section-bottom i {
   font-size: 1.5rem;
   transform: translateY(5px) translateX(-8px);
}

#tab-section-bottom #logout {
    cursor: pointer;
    display: block;
    margin-bottom: 40px;
}

#tab-section-main, #tab-section-reports {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#content-section {
    width: 65%;
    background-color: var(--background-color);
}

#cart-section {
    width: 20%;
    background-color: var(--primary-color);
    font-size: 0.9rem;
}

#cart-section-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    padding: 20px 0;
}
#cart-section-top label {
    transform: translateX(10px);
}

#cart-section-top button {
    width: 10%;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: var(--highlights);
}

